
.App{

 display: flex;
 flex-direction: column;
 align-items: center;

}

.image{
    margin-top: 15px;
    margin-bottom: 10px;
    height: 150px;
}
/* .color1 {color: #122f26;} casi negro
.color2 {color: #0a61a3;} azul electrico opaco
.color3 {color: #08e5ff;} cian
.color4 {color: #5effa0;} verde menta claro 
.color5 {color: #fffb92;}  amarillo pastel
.color3 {color: #6b0957;} violeta oscuro
.color4 {color: #006400;}verde militar
#ffd13c naranjta*/